div.loginBox{
    background-color: rebeccapurple;
    color:white;
    border-radius: 5px;
}
.signUp{
    margin:10px;
    background-color: yellow;
    padding: 10px;
}

.forgPass{
    margin:10px;
    background-color: salmon;
    padding: 10px;
    text-decoration: none ; 
}

