div.loginBox{
    background-color: rgb(104, 104, 185);
    color:white;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signUp{
    margin:10px;
    background-color: yellow;
    padding: 10px;
}

.forgPass{
    margin:10px;
    background-color: salmon;
    padding: 10px;
    text-decoration: none ; 
}

div.Logo{
    background-color: rgb(19, 19, 70);
    color: white;
}