// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.formul{
        background-color:violet ;
        padding: 20px;
}

.form-control:valid {
    background-color:  #96d3ec!important;
  }